{% extends 'base.html' %}
{% block content %}

	{% load crispy_forms_tags %}          

	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reseteo de contraseña</h2>
		<hr>
		<p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <br><button class="btn btn-primary" type="submit">Enviar email</button>
        </form>
  	</div> 

{% endblock %}